In [71]:
import pandas as pd

In [72]:
df_items = pd.read_parquet('../../ICU/tables/d_items.parquet')

In [73]:
df_lab_items = pd.read_parquet('../../ICU/tables/d_labitems.parquet')

In [74]:
df_labevents = pd.read_parquet('../../ICU/tables/labevents.parquet')

In [75]:
top_10 = df_labevents['itemid'].value_counts().head(10).index.tolist()

In [76]:
df_labevents = df_labevents[df_labevents['itemid'].isin(top_10)]

In [77]:
df_labevents = df_labevents.drop_duplicates(subset=['subject_id', 'hadm_id', 'itemid'])

In [78]:
df_labevents['subject_hadm_id'] = df_labevents['subject_id'].astype(str) + '_' + df_labevents['hadm_id'].astype(str)

In [86]:
df_lab_items = df_lab_items[['itemid','label']]

In [84]:
merged_lab_events_df = pd.merge(df_labevents, df_lab_items, on='itemid', how='left')

In [87]:
lab_events_df = merged_lab_events_df.pivot_table(
    index=['subject_id', 'hadm_id', 'subject_hadm_id'], 
    columns='label', 
    values='value', 
    aggfunc='first'
)

In [89]:
lab_events_df = lab_events_df.dropna()
lab_events_df = lab_events_df.drop_duplicates()

In [90]:
lab_events_df = lab_events_df.reset_index()
lab_events_df = lab_events_df.drop_duplicates(subset=['subject_hadm_id'])

In [91]:
lab_events_df

label,subject_id,hadm_id,subject_hadm_id,Glucose,Hematocrit,Hemoglobin,MCH,MCHC,MCV,Mean Platelet Volume,Platelet Count,Red Blood Cell Count,White Blood Count
0,10000100,58594204243,10000100_58594204243,130,33.6,10.7,29.6,31.8,93.1,10.5,608,3.61,15.0
1,10000214,57400481521,10000214_57400481521,119,38.2,12.3,28.0,32.2,87.0,11.9,244,4.39,7.5
2,10000364,68104421981,10000364_68104421981,169,40.3,12.7,27.1,31.5,85.9,11.5,250,4.69,7.2
3,10000422,36827033173,10000422_36827033173,85,34.7,9.2,16.8,26.5,63.2,Not Applicable,149,5.49,4.7
4,10000562,28431526374,10000562_28431526374,294,41.0,13.6,26.4,33.2,79.5,10.1,326,5.16,10.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1638259,99999856,39743800534,99999856_39743800534,113,39.1,12.4,25.9,31.7,81.8,9.8,165,4.78,8.7
1638260,99999959,2127561032,99999959_2127561032,114,40.4,13.7,28.1,33.9,83.0,10.3,295,4.87,11.7
1638261,99999959,6470596727,99999959_6470596727,86,39.1,13.8,28.0,35.3,79.5,9.9,255,4.92,10.9
1638262,99999991,77661750610,99999991_77661750610,100,35.5,11.2,32.0,31.5,101.4,9.8,261,3.50,5.69
1638263,99999997,48836056566,99999997_48836056566,91,42.1,14.2,32.2,33.7,95.5,9.1,217,4.41,8.0